- if !urls.blank?
  :javascript
    (function(d,e){var u=[ #{ (urls.is_a? Array) ? ((urls.map! {|u| '"'<<u<<'"'}).join ", ") : ('"'<<urls<<'"') } ],i=u.length,f=d.createDocumentFragment(),s = d.createElement(e),z;while (i--) {z = s.cloneNode(false);z.async = z.src = u[i];f.appendChild(z);} (z = d.getElementsByTagName(e)[0]).parentNode.insertBefore(f, z);}(document,'script'));